* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background:rgba(0, 162, 255,0.4)
}

.navegacion {
    width:1ffpx;
    background:rgba(255,255,255,0.2);
}

.navegacion ul {
    list-style: none;
}

.menu > li {
    position:relative;
    display:inline-block;
}

.menu > li> a {
    display:block;
    padding:15px 20px;
    color: #353535;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.menu li a:hover {
    color:rgb(20, 24, 255);
    transition: all .3s;
}

/*submenu*/

.submenu {
    position:absolute;
    background: rgba(255,255,255,0.2);
    width:120%;
    border-style: solid;
    border-color: rgba(255,255,255,0.5);
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    transition:opacity 1.5s;
}

.submenu li a {
    display:block;
    padding:15px;
    color:rgb(7, 7, 7);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.section-home {
    width: 1ff;
    height: 200px;
    position:relative;
    display:block;
    background-color: rgba(138, 210, 223,0.5);
}