
footer {
    position: absolute;
    bottom: 0;
    left:0;
    margin-top: 20px;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
}

.copyrigth-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    font-size: 12px;
    opacity: 0.8;
    font-weight: 400;
    padding: 10px 0;
    color:#fff;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
}

.footer-container {
    height: fit-content;
    width: 100%;
    padding: 3rem 6rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-content-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

}

footer .website-logo {
    margin-bottom: 1.2rem;
    font-size: calc(1vw+20px);
}

.footer-info, .menu-item-footer {
    margin: 0.2rem 0;
    opacity: 0.7;
    color:#fff;
    text-decoration: none;
    transition: 0.5s;
}

.menu-item-footer:hover {
    opacity: 1;
    color:deeppink;
    transition: all .2s;
}

.menu-title {
    font-size: 16px;
    margin-bottom: 1.2rem;
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
}

.social-link {
    height: 100%;
    width: 50px;
    background-image: url(../logo-redes/twitter.png);
    background-size: 70%;
    background-position: center;
    margin-right: 1rem;
    background-repeat: no-repeat;

}

.social-link:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

footer .social-link:nth-last-of-type(2){
    background-image: url(../logo-redes/instagram.png);
}

footer .social-link:nth-last-of-type(3){
    background-image: url(../logo-redes/discordia.png);
}

@media (max-width: 768px) {
    .footer-container{ 
        padding: 2rem;
        flex-direction: column;
    }

    .footer-content-container {
        width: 100%;
        padding: 2rem 0;
        border-bottom: 1px solid black;
        justify-content: center;
        align-items: center;
    }

    .footer-content-container:nth-of-type(1) {
        align-items: flex-start;
    }

    .footer-content-container:nth-last-of-type(2) {
        align-items: flex-start;
    }

    .footer-content-container:nth-last-of-type(2) {
        align-items: flex-start;
        padding-bottom: 0;
    }

    .footer-menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid black;
    }

    .footer-menu .footer-content-container:nth-last-of-type(1) {
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }

    .footer-menu .footer-content-container:nth-last-of-type(2) {
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }

    .cont-general {
        padding-bottom: 600px;
    }





}