* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*Texto despues de la imagen*/

.parrafos {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
    padding-top: 10px;
}

.p1 {
    margin: 20px;
    margin-top: 0;
}

.p2 {
    margin: 20px;
    margin-top: 0;
}

.cont-noticias {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    text-align: justify;
    font-size: 20px;
}

.titulo-noticias {
    text-align: center;
    font-size: 20px;
}

.noticias {
    text-align: justify;
    background-color:rgba(194, 214, 226, 0.6);
    font-size: 20px;
}

.copy {
    text-align: center;
    
}



