* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    background:rgba(0, 0, 0, 0.678);
    min-height: 70px;
    align-items: center;
    padding: 10px;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;   
    text-decoration: none;
    color: #fff;
}

.img-logo {
    width: 50px;
    display: inline-block;
    margin-right: 10px;
}


.a1 {
    text-decoration: none;
    color:#fff;
    font-size: 20px;
    padding-right: 30px;
}

body {font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.logo:hover {
    color: deeppink;
    transition: .4s;
}

.a1:hover {
    color: deeppink;
    transition: .4s;
}

@media (max-width:700px) {
    header{ 
        flex-direction: column;
    }

    .nav {
        padding: 10px 0px;
    }
}