@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Akshar', sans-serif;
}
.week1,.name,.price {
    font-family: 'Akshar', sans-serif;
}

body {
    background:url(pata\ color\ gris.jpg) center center;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment:fixed;
    position:relative;
    display:block;
}

.header1 {
    display: flex;
    justify-content: space-between;
    background:rgba(0, 0, 0, 0.7);
    height: 70px;
    align-items: center;
    padding: 10px;
    text-decoration: none;
}

.header2{
    display: none;
}

.nav-container {
    display: flex;
    margin:0 auto;
    padding: 10px;
    justify-content:space-between;
    align-items: center;
    font-size: 20px;
}

.nav-menu {
    display: flex;
}

.img-logo {
    width: 70px;
    margin:1px;
    text-decoration: none;
    opacity: 0.9;
}

.img-logo:hover{
    opacity: 1;   
}
.logo {
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
    text-decoration:none;
    display: flex;
    margin: 0 auto;
    padding: 10px;
    justify-content:space-between;
    align-items: center;
    font-size: 20px;
    padding-left: 350px;
}


.navegacion {
    display: none;
}
.nav {
    display: flex;
}

.nav-label, .nav-input {
    display: none;
}

.nav-item {
    color:#fff;
    margin: 8px;
    text-decoration: none;
    justify-content: space-between;
}

.nav-input:checked + .nav-menu {
    background-color:rgba(0, 0, 0);
}


@media (max-width:950px) {

    .nav-label{
        display: block;
        cursor: pointer;
    }

    .header1 {
        display: none;
    }

    .header2 {
        display: block;
    }
    .navegacion {
        display:block;
    }

    .navegacion {
        opacity: 0;
        visibility: hidden;
        transition: all 500ms ease;
        top:0;
    }

    .nav-input:checked~.navegacion {
        opacity: 1;
        visibility: visible;
        top:0;
        transform: translateX(0%);
    }

    .general-menu-pc {
        display: none;
    }

    .nav-container {
        display: none;
    }

    .img-logo2 {
        width: 70px;
        margin:10px;
        margin-top: 10px;
        text-decoration: none;
        opacity: 0.9;
    }
    
    .img-logo2:hover{
        opacity: 1;   
    }
    .logo2 {
        font-family: Arial, Helvetica, sans-serif;
        color:#fff;
        text-decoration:none;
        padding-top: 200px;
    }
    
    .titulo {
        text-align: center;
    }
    
    
    .navegacion {
        position: fixed;
        width: 250px;
        height:100%;
        background-color: rgb(26, 24, 24);
        transition: all 500ms ease;
        transform: translateX(-100%);
    }
    
    ul {
        margin-top: 100px;
        list-style: none;
        display: block;
    }
    
    .lista {
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #fff;
        overflow: hidden;
    }

    .lista:hover {
        border-left: 5px solid #c7c7c7;
        transition: all 500ms ease;
    }
    
    .lista:hover{
        background-color: rgba(255, 255, 255, 0.2);
        transition: 0.5s;
     }
    
    .texto {
        position: relative;
        padding: 16px;
        padding-left: 40px;
        color:#fff;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        opacity: 0.8;
    }
    
    .texto:hover {
        opacity: 1;
        text-decoration: solid;
        transition: 0.5s;
    }
    .texto:active {
        color:fuchsia;
    }

    .nav-img {
        width: 50px;
    }

    .nav-img2 {
        display: block;
        float: right;
        width: 30px;
        margin: 8px;
        opacity: 0.9;
        cursor: pointer;
    }

    .nav-img2:hover {
        opacity: 1;

    }

    .capa {
        width: 100%;
        min-height: 100vh;
        position: absolute;
        top:0;
        left:0;
        background:rgba(0,0,0);
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        transition: all 500ms ease;

    }

    .nav-input:checked~.capa {
        opacity: 0.8;
        visibility: visible;
        transition: all 500ms ease;
    }

    .cont-cat1 {
        width: 100px;
        display: inline-block;
        vertical-align: top;
        margin: auto;
        margin-bottom: 10px;
        background:rgba(0, 0, 0, 0.8);
        border-radius: 8px;
    }

    .img-1 {
        width:100px;
        position:relative;
        display: block;
        border-radius: 10px;
    }
}

p {
    font-size: 20px;
    text-align: justify;
    margin: 15px;
    color:#fff;
}

.imagen {
    width: 200px;
}

.nav-item {
    color:#fff;
    margin: 0px;
    text-decoration: none;
    justify-content: space-between;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav-menu {
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav-item::after {
    content:"" ;
    display: block;
    background: deeppink;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;
}

.nav-item:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    color: deeppink;
    transition: .4s;
}


.navegacion {
z-index:1 ;}

body {
    color:#fff
}
